PORT=3000
SQLITE_DB_PATH=db/lindotours.db
PRIVATE_STORAGE_PATH=storage
ADMIN_USERNAME=change-me
ADMIN_PASSWORD=change-me
ADMIN_TOKEN_TTL_MS=28800000
CUSTOMER_AUTH_DEBUG=true
CUSTOMER_AUTH_CODE_TTL_MS=600000
CUSTOMER_SESSION_TTL_MS=604800000
CUSTOMER_PROFILE_ID_PREFIX=CUS
CUSTOMER_PORTAL_TOKEN_TTL_MS=1800000

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_API_BASE=https://api-m.sandbox.paypal.com

BANK_TRANSFER_BANK_NAME=
BANK_TRANSFER_BENEFICIARY=
BANK_TRANSFER_CLABE=
BANK_TRANSFER_ACCOUNT=
BANK_TRANSFER_SWIFT=
BANK_TRANSFER_REFERENCE_PREFIX=LT
BANK_TRANSFER_EXPIRY_HOURS=12

ORDER_PUBLIC_ID_PREFIX=LT
